@use "../variables/theme/black" as *;

//
//.themeDark {
//  background: #191B1C;
//  color: #707070;
//
//  & .theme-background { background: #191B1C; }
//  & .theme-panels { background: #252829; }
//  & .theme-text { color: rgba(255, 255, 255, 0.3); }
//  & .theme-price { color: $price; }
//  & .theme-menu {
//    color: white;
//    text-transform: uppercase;
//    font-weight: bold;
//    font-size: 24px;
//    letter-spacing: 2px;
//  }
//
//  & .theme-titles {
//    background: #252829;
//    color: #707070;
//  }
//
//  & .theme-subTitles {
//
//  }
//
//  & .theme-card {
//    background: #252829;
//    &:hover {
//      background: #ececec;
//    }
//  }
//
//  & .theme-hover {
//
//  }
//
//  & .theme-border {
//
//  }
//
//  & .theme-descriptions {
//
//  }
//}
//
//.dark {
//
//}

