//.themeLight {
//  background: oklch(92.8% 0.006 264.531);
//
//  & .theme-background {
//    background: oklch(21% .034 264.665);
//  }
//
//  & .theme-panels {
//    background: oklch(92.8% 0.006 264.531);
//  }
//
//  & .theme-text {
//    color: black;
//  }
//
//  & .theme-price {
//    color: #129672FF;
//  }
//
//  & .theme-menu {
//    color: white;
//    text-transform: uppercase;
//    font-weight: bold;
//    font-size: 24px;
//    letter-spacing: 2px;
//  }
//
//  & .theme-titles {
//    background: oklch(87.9% 0.169 91.605);
//  }
//
//  & .theme-subTitles {
//
//  }
//
//  & .theme-card {
//    background: white;
//    &:hover {
//      background: #ececec;
//    }
//  }
//
//  & .theme-hover {
//
//  }
//
//  & .theme-border {
//
//  }
//
//  & .theme-descriptions {
//
//  }
//}


