@import "black";
@import "root";

:root {
  --bg-main: #F2F2F7;
  --bg-panel: #DEDEE5;
  --bg-elevated: #E6E6ED;

  /* Accent */
  --accent-main: #4FB6A1;
  --accent-muted: #3E8F80;
  --accent-active: #63D1BB;

  /* Text */
  --text-primary: #303030;
  --text-muted: #B5B5B5;
  --text-secondary: #8A8A8A;

  /* BORDER */
  --border-primary: rgba(209 213 219 / var(--tw-border-opacity, 1));
}

body._dark {

}

/**/


@mixin theme {
  background: var(--bg-main);

  .theme-panels {
    background: var(--bg-panel);
  }

  .theme-text {
    color: var(--text-primary);
  }

  .theme-price {
    color: var(--accent-main);
  }

  .theme-menu {
    background: var(--bg-main);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 5px;
  }

  .theme-titles {
    background: var(--bg-elevated);
    color: var(--text-secondary);
  }

  .theme-subTitles {

  }

  .theme-card {
    background: var(--bg-panel);

    &:hover {
      background: var(--bg-elevated);
    }
  }

  .theme-hover {

  }

  .theme-border {
    border: 1px solid var(--border-primary);
  }

  .theme-border-b {
    border-bottom: 1px solid var(--border-primary);
  }

  .theme-border-r {
    border-right: 1px solid rgba(209 213 219 / var(--tw-border-opacity, 1));

  }

  .theme-border-l {
    border-left: 1px solid rgba(209 213 219 / var(--tw-border-opacity, 1));

  }

  .theme-border-t {
    border-bottom: 1px solid rgba(209 213 219 / var(--tw-border-opacity, 1));

  }

  .theme-descriptions {

  }
}

.themeLight {
  color: var(--text-primary);
  @include theme;
}

.themeDark {
  /* Surface */
  --bg-main: #212121;
  --bg-panel: #262626;
  --bg-elevated: #2C2C2C;

  /* Accent */
  --accent-main: #4FB6A1;
  --accent-muted: #3E8F80;
  --accent-active: #63D1BB;

  /* Text */
  --text-primary: #E6E6E6;
  --text-secondary: #B5B5B5;
  --text-muted: #8A8A8A;

  /* Derived */
  --border-primary: rgba(209 213 219 / var(--tw-border-opacity, 1));
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, .35);

  @include theme
}
